%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}

  %body
    .container

      -unless @text
        %h1= "Submit Text"
        %form{:method => "POST"}
          %input{:name => "text", :placeholder => "Type text here"}

      %h1= "#{@text}"
      %h2= "#{@chars}"
